<h1>Formulario de Registro</h1>

<p>
  Complete los siguientes datos para registrarse en el sistema.
</p>

<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">

  <div>
    <label>Nombre:</label>
    <input
      type="text"
      formControlName="nombre"
    >

    <div *ngIf="formulario.get('nombre')?.touched &&
                formulario.get('nombre')?.invalid">

      <p *ngIf="formulario.get('nombre')?.errors?.['required']">
        El nombre es obligatorio
      </p>

      <p *ngIf="formulario.get('nombre')?.errors?.['minlength']">
        El nombre debe tener al menos 3 caracteres
      </p>

    </div>
  </div>

  <br>

  <div>
    <label>Email:</label>
    <input
      type="email"
      formControlName="email"
    >

    <div *ngIf="formulario.get('email')?.touched &&
                formulario.get('email')?.invalid">

      <p *ngIf="formulario.get('email')?.errors?.['required']">
        El email es obligatorio
      </p>

      <p *ngIf="formulario.get('email')?.errors?.['email']">
        Ingrese un email válido
      </p>

    </div>
  </div>

  <br>

  <div>
    <label>Mensaje:</label>
    <textarea formControlName="mensaje"></textarea>
  </div>

  <br>

  <button
    type="submit"
    [disabled]="formulario.invalid"
  >
    Enviar
  </button>

</form>