<h1>Formulario de Registro</h1>

<p>
  Complete los siguientes datos para registrarse en el sistema.
</p>

<form [formGroup]="formulario"
      (ngSubmit)="enviarFormulario()">

  <!-- NOMBRE -->
  <div>
    <label>Nombre:</label>

    <input
      type="text"
      formControlName="nombre"

      [ngClass]="{
        'campo-invalido':
        formulario.get('nombre')?.invalid &&
        formulario.get('nombre')?.touched
      }"
    >

    <ul *ngIf="formulario.get('nombre')?.invalid &&
               formulario.get('nombre')?.touched">

      <li *ngIf="formulario.get('nombre')?.errors?.['required']">
        El nombre es obligatorio
      </li>

      <li *ngIf="formulario.get('nombre')?.errors?.['minlength']">
        El nombre debe tener al menos 3 caracteres
      </li>

    </ul>
  </div>

  <br>

  <!-- EMAIL -->
  <div>
    <label>Email:</label>

    <input
      type="email"
      formControlName="email"

      [ngClass]="{
        'campo-invalido':
        formulario.get('email')?.invalid &&
        formulario.get('email')?.touched
      }"
    >

    <ul *ngIf="formulario.get('email')?.invalid &&
               formulario.get('email')?.touched">

      <li *ngIf="formulario.get('email')?.errors?.['required']">
        El email es obligatorio
      </li>

      <li *ngIf="formulario.get('email')?.errors?.['email']">
        Ingrese un email válido
      </li>

    </ul>
  </div>

  <br>

  <!-- MENSAJE -->
  <div>
    <label>Mensaje:</label>

    <textarea
      formControlName="mensaje">
    </textarea>
  </div>

  <br>

  <button
    type="submit"
    [disabled]="formulario.invalid">
    Enviar
  </button>

</form>

<div *ngIf="enviado">
  <h3>Formulario enviado correctamente</h3>
</div>