<h1>
  Formulario de Registro
</h1>

<p>
  Complete los siguientes datos para registrarse en el sistema.
</p>

<form
  [formGroup]="formulario"
  (ngSubmit)="enviarFormulario()"
>

  <!-- NOMBRE -->

  <div>
    <label>Nombre:</label>

    <input
      type="text"
      formControlName="nombre"
      [ngClass]="{
        'campo-invalido':
        formulario.get('nombre')?.touched &&
        formulario.get('nombre')?.invalid
      }"
    >

    <ul *ngIf="obtenerErrores('nombre').length > 0">

      <li *ngFor="let error of obtenerErrores('nombre')">
        {{ error }}
      </li>

    </ul>
  </div>

  <br>

  <!-- EMAIL -->

  <div>
    <label>Email:</label>

    <input
      type="email"
      formControlName="email"
      [ngClass]="{
        'campo-invalido':
        formulario.get('email')?.touched &&
        formulario.get('email')?.invalid
      }"
    >

    <ul *ngIf="obtenerErrores('email').length > 0">

      <li *ngFor="let error of obtenerErrores('email')">
        {{ error }}
      </li>

    </ul>
  </div>

  <br>

  <!-- MENSAJE -->

  <div>
    <label>Mensaje:</label>

    <textarea
      formControlName="mensaje">
    </textarea>
  </div>

  <br>

  <button
    type="submit"
    [disabled]="formulario.invalid"
  >
    Enviar
  </button>

</form>

<!-- MENSAJE DE ENVÍO -->

<div *ngIf="enviado">
  <h3>
    Formulario enviado correctamente
  </h3>
</div>