input,
textarea {
  display: block;
  width: 300px;
  padding: 8px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
}

.campo-invalido {
  border: 2px solid red;
}

ul {
  color: red;
}

h3 {
  color: green;
}