<div class="container">

  <h1>📦 Gestión de Productos</h1>

  <div class="formulario">

    <input
      type="text"
      placeholder="Nombre del producto"
      [(ngModel)]="nuevoNombre"
    >

    <input
      type="number"
      placeholder="Precio"
      [(ngModel)]="nuevoPrecio"
    >

    <button (click)="agregarProducto()">
      Agregar
    </button>

  </div>

  <div *ngIf="productos.length === 0" class="vacio">
    No hay productos cargados.
  </div>

  <div class="productos">

    <div
      class="card"
      *ngFor="let producto of productos">

      <h2>{{ producto.nombre }}</h2>

      <p>
        Precio:
        {{ producto.precio | currency:'ARS':'symbol':'1.0-0' }}
      </p>

      <p>
        Precio con 10% de descuento:
        {{ producto.precio | descuento:10 | currency:'ARS':'symbol':'1.0-0' }}
      </p>

      <p>
        Fecha Alta:
        {{ producto.fechaAlta | date:'dd/MM/yyyy' }}
      </p>

      <button
        class="btn-eliminar"
        (click)="eliminarProducto(producto.id)">
        Eliminar
      </button>

    </div>

  </div>

</div>